@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.page {
  width: 100vw;
  height: 100vh;
}

h1 {
  color: rgb(31, 31, 31);
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 50px;
  padding-left: 20px;
}
.conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
